.thing
    &.t2
        &::after
            background: #18df00
            content: '2'
            z-index: 2
    &.t4
        &::after
            background: #8c8e00
            z-index: 3
            content: '4'
    &.t8
        &::after
            background: #d38200
            z-index: 4
            content: '8'
    &.t16
        &::after
            background: #ae3900
            z-index: 5
            content: '16'
    &.t32
        &::after
            background: #931269
            z-index: 6
            content: '32'
    &.t64
        &::after
            background: #241b72
            z-index: 7
            content: '64'
    &.t128
        &::after
            background: #4d9af1
            z-index: 8
            font-size: 42px
            content: '128'
    &.t256
        &::after
            background: #fff56c
            z-index: 9
            font-size: 42px
            content: '256'
    &.t512
        &::after
            background: #b03cfd
            z-index: 10
            font-size: 42px
            content: '512'
    &.t1024
        &::after
            background: #82e6b4
            z-index: 11
            font-size: 36px
            content: '1024'
    &.t2048
        &::after
            background: #df00c1
            z-index: 12
            font-size: 36px
            content: '2048'